useDynLib(spBayesSurv)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "lines", "par", "plot", "polygon")
importFrom("methods", "is")
importFrom("stats", ".getXlevels", "median", "model.extract",
           "model.matrix", "na.fail", "quantile", "rbeta", "sd",
           "terms", "cov", "qnorm", "var", "AIC")
S3method(print, survregbayes)
S3method(print, summary.survregbayes)
S3method(plot, survregbayes)
S3method(summary, survregbayes)
S3method(print, survregbayes2)
S3method(print, summary.survregbayes2)
S3method(plot, survregbayes2)
S3method(summary, survregbayes2)
S3method(print, frailtyGAFT)
S3method(print, summary.frailtyGAFT)
S3method(plot, frailtyGAFT)
S3method(summary, frailtyGAFT)
S3method(print, SuperSurvRegBayes2)
S3method(print, summary.SuperSurvRegBayes2)
S3method(plot, SuperSurvRegBayes2)
S3method(summary, SuperSurvRegBayes2)
exportPattern("^[[:alpha:]]+")
